.pivottable {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.pivottable thead {
  color: white;
  background-color: #5b9bd5;
}
.pivottable thead th {
  padding: 0px 3px 0px 5px;
}
.pivottable thead th:last-child {
  text-align: right;
  padding-right: 5px;
}
.pivottable thead th.pivottable-filter {
  padding: 0;
}
.pivottable thead select {
  width: 100%;
  color: #000;
  margin: 0;
}
.pivottable thead a {
  overflow: hidden;
}
.pivottable thead a:after {
  content: '\25B2';
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.54) inset;
  margin-left: 2px;
  border-radius: 3px;
  font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
  background: #fff;
  padding: 0 3px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  vertical-align: text-bottom;
}
.pivottable thead a > div {
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -o-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.54);
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 3px;
}
.pivottable thead a > div:after {
  content: '';
}
.pivottable thead a > div input:after {
  content: "\A";
  white-space: pre;
}
.pivottable thead a:hover > div {
  visibility: visible;
  opacity: 1;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.pivottable tbody tr {
  border: none;
  margin: 0;
  padding: 0;
}
.pivottable tbody tr.leaf {
  font-weight: normal;
}
.pivottable tbody tr.tail {
  font-weight: bold;
}
.pivottable tbody tr.tail td {
  padding: 3px 3px 3px 25px;
}
.pivottable tbody tr.tail.closed {
  font-weight: normal;
}
.pivottable tbody tr.tail.closed span {
  display: none;
}
.pivottable tbody tr.tail span {
  margin: 0 0.25em 0 0;
  padding: 0;
}
.pivottable tbody tr.closed > td > a:after {
  content: "+";
}
.pivottable tbody tr td {
  background: transparent;
  color: #000;
  padding: 3px 3px 3px 0;
  margin: 0;
  text-align: right;
  padding-right: 10px;
}
.pivottable tbody tr td:first-child {
  padding-left: 10px;
  text-align: left;
}
.pivottable tbody tr td > a {
  vertical-align: text-bottom;
  font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: 0 3px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid black;
  font-size: 10px;
  box-shadow: inset -1px -1px 1px 0px rgba(50, 50, 50, 0.75);
}
.pivottable tbody tr td > a:active {
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.pivottable tbody tr td > a:after {
  content: "-";
}
.pivottable tbody tr.header td {
  font-weight: bold;
}
.pivottable tbody tr[data-level="1"] {
  padding-left: 5px;
}
.pivottable tbody tr[data-level="1"].header {
  background: #ddebf7;
}
.pivottable tbody tr[data-level="2"] td:first-child {
  padding-left: 30px;
}
.pivottable tbody tr[data-level="2"].value td:first-child {
  padding-left: 45px;
}
.pivottable tbody tr[data-level="2"].tail td:first-child {
  padding-left: 60px;
}
.pivottable tbody tr[data-level="3"] td:first-child {
  padding-left: 60px;
}
.pivottable tbody tr[data-level="3"].value td:first-child {
  padding-left: 75px;
}
.pivottable tbody tr[data-level="3"].tail td:first-child {
  padding-left: 90px;
}
.pivottable tbody tr[data-level="4"] td:first-child {
  padding-left: 90px;
}
.pivottable tbody tr[data-level="4"].value td:first-child {
  padding-left: 105px;
}
.pivottable tbody tr[data-level="4"].tail td:first-child {
  padding-left: 120px;
}
.pivottable tbody tr[data-level="5"] td:first-child {
  padding-left: 120px;
}
.pivottable tbody tr[data-level="5"].value td:first-child {
  padding-left: 135px;
}
.pivottable tbody tr[data-level="5"].tail td:first-child {
  padding-left: 150px;
}
.pivottable tfoot {
  background: #5b9bd5;
  color: #fff;
  text-align: right;
  font-weight: bold;
}
.pivottable tfoot td {
  padding: 3px 10px 3px 3px;
}
.pivottable tfoot td:last-child {
  text-align: right;
  padding-right: 10px;
}
